<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <div class="profile" style="font-size:16px;">
        <%= @user.profile %>
      </div>
    </section>
    <div class="location">
    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
    <span style="font-size:16px;"><%= @user.location %></span>
    </div>
    <div class="follow btn-group" role="group" aria-label="...">
      <div class="col-sm-4 following">
        <button type="button" class="btn btn-default"><%= link_to "Following", followings_user_path(@user) %></button>
      </div>
      <div class="col-sm-4 follower">
        <button type="button" class="btn btn-default"><%= link_to "Follower", followers_user_path(@user) %></button>
      </div>
      <div class="col-sm-4 favorite">
        <button type="button" class="btn btn-default"><%= link_to "Favorite", '#' %></button>
      </div>
    </div>
  </aside>
  <div class="col-md-8 list">
    <h1>Favorite List</h1>
    <% @favorite.each do |a| %>
      <div class="f-list">
        <div style="font-size:20px;font-wegiht:700;color:#66e;"></div>
          <span><%= gravatar_for @user %><%= @user.name %></span>
          <div><%= a.content %></div>
      </div>
    <% end %>
  </div>
</div>