<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <div class="profile" style="font-size:16px;">
        <%= @user.profile %>
      </div>
    </section>
    <div class="location">
    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
    <span style="font-size:16px;"><%= @user.location %></span>
    </div>
    <div class="follow btn-group" role="group" aria-label="...">
      <div class="col-sm-6 following">
        <button type="button" class="btn btn-default"><%= link_to "Following", "#" %></button>
      </div>
      <div class="col-sm-6 follower">
        <button type="button" class="btn btn-default"><%= link_to "Follower", followers_user_path(@user) %></button>
      </div>
    </div>
  </aside>
  <div class="col-md-8 list">
    <h1>Following List</h1>
    <% @followings.each do |user| %>
      <div class="f-list">
          <span><%= gravatar_for @user %><%= user.name %></span>
      </div>
      <% end %>
  </div>
</div>
